<html>
    <head>
        <link href="/assets/style.css"  type ="text/css" rel="stylesheet" />
    </head>
    <body>
        Person: <%= ID %>
        <h2>Querystring value: <%= Qstr %></h2>
    </body>
</html>